/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0; } 
}

nav .button-collapse i {
  font-size: 2rem;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

li span {
  display: table-cell;
  padding-left: 10px;
}

.about li i, .process li i, .experience li i {
  display: table-cell;
  float: left;
}

.align-icon {
  margin-right: 15px;
  vertical-align: baseline;
  position: relative;
  top: 6px;
}

.page-title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 300;
}

.parallax-container {
  min-height: 160px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
  height: 160px;
}

.dp-img {
  padding: 0 !important;
}

.side-nav li {
  padding: 0;
}

.side-nav.fixed a {
  padding: 0 30px;
}

ul.side-nav.fixed li:first-child {
  margin-bottom: -7px;
}

ul.side-nav.fixed li.active {
  background-color: rgba(0,0,0,0.07);
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.index .home-heading {
  margin-bottom: 0;
}

.index blockquote {
  border-left-color: #ddd;
}

.index blockquote li{
  margin: 20px 0;
}

.index .social-icons {
  padding: 5px 10px;
  margin: 5px 20px 5px 0;
}

.about .card.medium, .about .card.medium .card-content {
  height: auto;
}

.projects img {
  border: 1px solid #292929;
}

.projects .no-border {
  border: none;
}